<div>
  <p>
    <%= User.human_attribute_name("username") %>:<%= link_to user.username, user_path(user) %>
  </p>
  <p>
    <%= User.human_attribute_name("profile") %>:<%= user.profile %>
  </p>
  <p>
    <%= User.human_attribute_name("email") %>:<%= user.email %>
  </p>
</div>
